.button {
  display: inline-flex;
  padding: 16px 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  @include basic-active;
}

.button--red {
  color: $white;
  background-color: $red;

  &:hover,
  &:focus {
    background-color: $dark-red;
  }
}

.button--white {
  color: $red;
  border: 1px solid $red;

  &:hover,
  &:focus {
    color: $white;
    background-color: $red;
  }
}
