.site-navigation {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 520px;
}

.site-navigation__item {
  margin-right: 68px;
  padding-top: 31px;
  padding-bottom: 30px;

  &:nth-of-type(4n) {
    margin-right: 0;
  }
}

.site-navigation__link {
  color: $accent-black;
  font-weight: 600;

  @include basic-hover;
  @include basic-active;
}
