$black: #000000;
$accent-black: #48494D;
$contacts-black: #1A212F;

$white: #FFFFFF;
$dark-gray: #A3A4A6;
$star-dark-gray: #BDBEC2;
$gray: #D7D9DF;
$light-gray: #F5F5F9;

$light-red: #FF0000;
$red: #D12136;
$dark-red: #BD0C21;


$max-content-width: 1173px;
$max-content-width-with-paddings: 1253px;
$min-content-width: 1000px;
$desktop-centered-threshold: $max-content-width + 45px;
